<h1>Apuntar Muerte Jugador</h1>

<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">

  <div class="form-group" [ngClass]="{'has-error':!form.controls['dorsal'].valid && form.controls['dorsal'].touched}">
    <div class="input-group">
      <span class="input-group-addon">Dorsal</span>
      <input type="number" class="form-control" aria-describedby="basic-addon3" [formControl]="form.controls['dorsal']" #dorsalInput (change)="findDorsal(dorsalInput.value)" (keydown)="clearWeaponInfo()">
    </div>
    <div *ngIf="!form.controls['dorsal'].valid && form.controls['dorsal'].touched" class="help-block with-errors">¡Debe introducir un dorsal!</div>
  </div>
  <h1><span class="label" *ngIf="player" [ngClass]="player?.weapon ? 'label-success' : 'label-default'">{{player?.weapon ? 'El jugador tiene arma' : 'El jugador no tiene arma'}}</span></h1>
  <h1><span class="label" *ngIf="player && player.immortal">¡Inmortal!</span></h1>

  <div class="form-group" [ngClass]="{'has-error':!form.controls['kills'].valid && form.controls['kills'].touched}">
    <div class="input-group">
      <span class="input-group-addon">Muertes</span>
      <input type="number" class="form-control" aria-describedby="basic-addon3" [formControl]="form.controls['kills']">
    </div>
    <div *ngIf="!form.controls['kills'].valid && form.controls['kills'].touched" class="help-block with-errors">¡Debe introducir las muertes!</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Apuntar</button>
</form>
