<div class="col-lg-3">
  <div class="progress">
    <div class="progress-bar progress-bar-success" [ngStyle]="{'width': ranks.state?.humans * 100 / ranks.state?.total + '%'}">
      <span class="sr-only">Humanos</span>
    </div>
    <div class="progress-bar progress-bar-danger" [ngStyle]="{'width': ranks.state?.zombies * 100 / ranks.state?.total + '%'}">
      <span class="sr-only">Zombies</span>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="progress">
    <div class="progress-bar progress-bar-info" [ngStyle]="{'width': ranks.weapons + '%'}">
      <span class="sr-only">Armas</span>
    </div>
  </div>
</div>
<div class="col-lg-3"><app-rank title="Humano con más muertes" [rank]="ranks?.goalAlive"></app-rank></div>
<div class="col-lg-3"><app-rank title="Zombie con más muertes" [rank]="ranks?.goalZombie"></app-rank></div>
<div class="col-lg-3"><app-rank title="Superviviente" [rank]="ranks?.survival"></app-rank></div>
<div class="col-lg-3"><app-rank title="Debora craneos" [rank]="ranks?.zombie"></app-rank></div>
<div class="col-lg-3"><app-rank title="Patoso" [rank]="ranks?.clumsy"></app-rank></div>
<div class="col-lg-3"><app-rank title="Muerte de telenovela" [rank]="ranks?.soapOperaDeath"></app-rank></div>
<div class="col-lg-3"><app-rank title="Maquiavelico" [rank]="ranks?.machiavellian"></app-rank></div>
<div class="col-lg-3"><app-rank title="Cobarde" [rank]="ranks?.scary"></app-rank></div>
<label >Precoz</label>
<table class="table table-bordered">
  <tbody>
  <tr class="info">
    <td>
      {{ranks?.premature?.dorsal}}
    </td>
    <td>
      Dorsal
    </td>
  </tr>
  </tbody>
</table>
