<form class="row">
  <div class="form-group">
    <div class="input-group col-lg-6">
      <span class="input-group-addon">Muertes como humano</span>
      <input type="text" class="form-control" aria-describedby="basic-addon3">
    </div>
    <div class="input-group col-lg-6">
      <span class="input-group-addon">Muertes como zombie</span>
      <input type="text" class="form-control" aria-describedby="basic-addon3">
    </div>
  </div>
</form>

<table class="table">
  <tbody>
  <tr>
    <td></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Superviviente</td>
    <td><input type="radio" name="pointsSurvival" value="1"></td>
    <td><input type="radio" name="pointsSurvival" value="2"></td>
    <td><input type="radio" name="pointsSurvival" value="3"></td>
    <td><input type="radio" name="pointsSurvival" value="4"></td>
    <td><input type="radio" name="pointsSurvival" value="5"></td>
  </tr>
  <tr>
    <td>Debora craneos</td>
    <td><input type="radio" name="pointsZombie" value="1"></td>
    <td><input type="radio" name="pointsZombie" value="2"></td>
    <td><input type="radio" name="pointsZombie" value="3"></td>
    <td><input type="radio" name="pointsZombie" value="4"></td>
    <td><input type="radio" name="pointsZombie" value="5"></td>
  </tr>
  <tr>
    <td>Cobarde</td>
    <td><input type="radio" name="pointsScary" value="1"></td>
    <td><input type="radio" name="pointsScary" value="2"></td>
    <td><input type="radio" name="pointsScary" value="3"></td>
    <td><input type="radio" name="pointsScary" value="4"></td>
    <td><input type="radio" name="pointsScary" value="5"></td>
  </tr>
  <tr>
    <td>Precoz</td>
    <td><input type="radio" name="pointsPremature" value="1"></td>
    <td><input type="radio" name="pointsPremature" value="2"></td>
    <td><input type="radio" name="pointsPremature" value="3"></td>
    <td><input type="radio" name="pointsPremature" value="4"></td>
    <td><input type="radio" name="pointsPremature" value="5"></td>
  </tr>
  <tr>
    <td>Maquiavelico</td>
    <td><input type="radio" name="pointMachiavellian" value="1"></td>
    <td><input type="radio" name="pointMachiavellian" value="2"></td>
    <td><input type="radio" name="pointMachiavellian" value="3"></td>
    <td><input type="radio" name="pointMachiavellian" value="4"></td>
    <td><input type="radio" name="pointMachiavellian" value="5"></td>
  </tr>
  <tr>
    <td>Patoso</td>
    <td><input type="radio" name="pointsClumsy" value="1"></td>
    <td><input type="radio" name="pointsClumsy" value="2"></td>
    <td><input type="radio" name="pointsClumsy" value="3"></td>
    <td><input type="radio" name="pointsClumsy" value="4"></td>
    <td><input type="radio" name="pointsClumsy" value="5"></td>
  </tr>
  <tr>
    <td>Muerte de telenovela</td>
    <td><input type="radio" name="pointsSoapOperaDeath" value="1"></td>
    <td><input type="radio" name="pointsSoapOperaDeath" value="2"></td>
    <td><input type="radio" name="pointsSoapOperaDeath" value="3"></td>
    <td><input type="radio" name="pointsSoapOperaDeath" value="4"></td>
    <td><input type="radio" name="pointsSoapOperaDeath" value="5"></td>
  </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="send">Enviar</button>










