<label>{{title}}</label>
<table class="table table-bordered">
  <tbody>
  <tr class="info">
    <td>
      {{rank[0]?.dorsal}}
    </td>
    <td>
      {{rank[1]?.dorsal}}
    </td>
    <td>
      {{rank[2]?.dorsal}}
    </td>
    <td>
      {{rank[3]?.dorsal}}
    </td>
    <td>
      {{rank[4]?.dorsal}}
    </td>
    <td>
      Dorsal
    </td>
  </tr>
  <tr class="success">
    <td>
      {{rank[0]?.points}}
    </td>
    <td>
      {{rank[1]?.points}}
    </td>
    <td>
      {{rank[2]?.points}}
    </td>
    <td>
      {{rank[3]?.points}}
    </td>
    <td>
      {{rank[4]?.points}}
    </td>
    <td>
      Puntos
    </td>
  </tr>
  </tbody>
</table>
